*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

body{
    background-color: #E8CBA3;
}
.app-container {
    max-width: 600px; 
    margin: 20px auto; 
    padding: 20px; 
    background-color: #191919; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}
  
h1 {
    text-align: center;
    color: #E8CBA3; 
    
}
  
.top-info {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 20px; 
}
  
button {
    padding: 10px 20px; 
    background-color: transparent; 
    color: white; 
    border: solid 5px; 
    border-radius: 5px; 
    cursor: pointer; 
    border-color: #363636;
    transition: background-color 0.3s; 
    font-size: 16px;
    font-weight: bold;
}
  
button:hover {
    background-color: #363636; 
}
  
.New-Transaction {
    display: flex; 
    flex-direction: column; 
    margin-bottom: 20px; 
    background-color: #363636;
    padding: 20px;
    border-radius: 20px;
}
  
input[type='date'],
input[type='number'],
input[type='text'] {
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.typeTransaction{
    display: flex;
    gap: 20px;
    justify-content: center;
}
  
.money-info {
    display: flex; 
    justify-content: space-evenly; 
    gap: 100px;
    margin: 20px 0;
    color: white;
}

.money-info p{
    font-size: 20px;
    font-weight: bold;
}

.money-info span{
    font-size: 18px;
}

.expense{
    background-color: #363636;
    padding: 20px;
    border-radius: 20px;
}

.income{
    background-color: #363636;
    padding: 20px;
    border-radius: 20px;
}
  
.transaction-list {
    margin-top: 20px;
}

.searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.transaction-list input {
    padding: 10px; 
    width: 100%;
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}
  
.transaction-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 16px;
    color: white;
    font-weight: 400;
  }
  
.transaction-item.income {
    border-bottom: 2px solid green;
}
  
.transaction-item.expense {
    border-bottom: 2px solid red;
}
  
.transaction-list ul {
    list-style-type: none;
    padding: 0;
}

.transaction-history{
    background-color:#363636;
    border-radius: 20px;
}

.signIn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.welcomeUser{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.signOut{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.signIn h1{
    color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 100px;
}
  
label {
    margin-left: 5px; 
    color: white;
    font-size: 18px;
    font-weight: bold;
}

